In [1]:
from __future__ import (absolute_import, division, print_function,unicode_literals)
from datetime import datetime
import pickle

import backtrader as bt
import pandas as pd

from polaristools.polarisbot import PolarisBot
from strategies import mystrategies

In [2]:
polaris = PolarisBot()

# Define functions

In [3]:
def optimization(
                symbol:str,
                timeframe:str,
                cash:int,
                sizer:int,
                comm:float,
                sample:dict,
                custom_strategy:mystrategies,
                parameters:dict
                ):
    cerebro = bt.Cerebro()
    
    cerebro.broker.set_cash( cash )
    cerebro.addsizer(bt.sizers.PercentSizer, percents=sizer)
    cerebro.broker.setcommission(commission=comm, mult=parameters.get('leverage_factor'))
    
    if timeframe == '1d':
        tframe = bt.TimeFrame.Days
    else:
        tframe = bt.TimeFrame.Minutes
    
    filename = f'df_klines_{symbol}_{timeframe}'
    df = polaris.dataframeFromBinary(filename)
    if sample:
        df = df.loc[sample.get('start'):sample.get('end')].copy()
    
    feed = bt.feeds.PandasData(dataname=df, timeframe=tframe, compression = int(timeframe[:-1]))
    cerebro.adddata(feed)
    
    cerebro.addanalyzer(bt.analyzers.TradeAnalyzer, _name='tradeanalyzer')
    cerebro.addanalyzer(bt.analyzers.DrawDown, _name='drawdown')
    
    cerebro.optstrategy(custom_strategy, **parameters)
    backtests = cerebro.run()
    
    return backtests

In [4]:
def parse_analyzers(backtests):
    try:
        all_params = [dict(zip(
                list(x[0].params._getkeys()),
                list(x[0].params._getvalues()),
            ))for x in backtests]
    # except:
        # print('SOMETHING HAS FAILED WHEN TRY TO RETRIEVE THE PARAMETERS FROM STRATEGY.', __main__)
        df_params = pd.DataFrame(all_params)
        
        df_params.drop(columns=['verbose'], inplace=True)
        
        trades = [dict(
            pnl_net       = x[0].analyzers.tradeanalyzer.get_analysis()['pnl']['net']['total'], 
            trades  = x[0].analyzers.tradeanalyzer.get_analysis()['total']['total'], 
            won           = x[0].analyzers.tradeanalyzer.get_analysis()['won']['total'], 
            lost          = x[0].analyzers.tradeanalyzer.get_analysis()['lost']['total'],
            
            long_won      = x[0].analyzers.tradeanalyzer.get_analysis()['long']['won'],
            short_won     = x[0].analyzers.tradeanalyzer.get_analysis()['short']['won'],
            
            long_lost     = x[0].analyzers.tradeanalyzer.get_analysis()['long']['lost'],
            short_lost    = x[0].analyzers.tradeanalyzer.get_analysis()['short']['lost'],
            
            longs_pnl    = x[0].analyzers.tradeanalyzer.get_analysis()['long']['pnl']['total'],
            shorts_pnl    = x[0].analyzers.tradeanalyzer.get_analysis()['short']['pnl']['total'],
            
            moneydown_max = x[0].analyzers.drawdown.get_analysis()['max']['moneydown'],
        )for x in backtests]
        
        df_trades = pd.DataFrame(trades)
        df_results = pd.concat([df_params, df_trades], axis=1)
        
        return df_results
    except:
        print('FAILED PARSED')
        return pd.DataFrame()

In [5]:
def filter_results(dataframe, symbol:str, timeframe:str, by_col:str):
    if dataframe.empty:
        print(f'FAILED TEST ON symbol: {symbol}, tf: {timeframe}')
        return dataframe
    labels = ['pnl_net','won','lost',
            'trades','moneydown_max',
            'long_won','long_lost',
            'short_won','short_lost',
            'longs_pnl','shorts_pnl',
            'leverage_factor','aroon_timeperiod','ema',]
    best5 = dataframe[labels].nlargest(5, by_col)
    worse3 = dataframe[labels].nsmallest(3, by_col)
    
    bs = f'{symbol} {timeframe} BEST_5' 
    ws = f'{symbol} {timeframe} WORSE_3'
    best_horse = pd.concat([best5,worse3], keys=[bs, ws], axis=0)
    
    return best_horse

# LOOP #20 - RUN Multiple tests

In [6]:
# def loop_optimizations(symbols:list, timeframes:list, sample:dict, parameters:dict):

symbols    = ['BTCUSDT','BNBUSDT', 'DOGEUSDT', 'ETHUSDT']   #len 4
timeframes = ['240m', '120m', '60m', '30m', '15m']          #len 5
sample     = {'start':'2021-01-01', 'end':'2022-08-12'}

parameters = dict(
                    enter_long          = True,
                    enter_short         = True,
                    
                    ema                 = list(range(50, 101, 10)),
                    aroon_timeperiod    = list(range(50, 101, 10)),
                    leverage_factor     = 1.0,
)

# Store each results Dataframe here.
symbols_df = pd.DataFrame()
idx20=0
for symbol in symbols:
    for timeframe in timeframes:
        backtest = optimization(
                                symbol          = symbol,
                                timeframe       = timeframe,
                                cash            = 100,
                                sizer           = 25,
                                comm            = 0.05,
                                sample          = sample,
                                custom_strategy = mystrategies.AroonPlusMa,
                                parameters      = parameters,
                                )
        df = parse_analyzers(backtest)
        
        best5_worse3 = filter_results(dataframe=df, symbol=symbol, timeframe=timeframe, by_col='pnl_net')
        
        if symbols_df.empty:
            # First iteration check.
            symbols_df = best5_worse3
        else:
            symbols_df = pd.concat([symbols_df, best5_worse3], axis=0)
        
        idx20+=1
        now = datetime.now()
        print(f'ITERATION n# {idx20} at {now}. SYMBOL: {symbol} TIMEFRAME: {timeframe}')
        display(best5_worse3)

ITERATION n# 1 at 2022-08-14 03:26:35.197725. SYMBOL: BTCUSDT TIMEFRAME: 240m

                             pnl_net  won  lost  trades  moneydown_max  \
BTCUSDT - 240m BEST_5  8    4.351694    2     0       2      10.536115
                       14   4.351694    2     0       2      10.536115
                       20   4.351694    2     0       2      10.536115
                       26   4.351694    2     0       2      10.536115
                       32   4.351694    2     0       2      10.536115
BTCUSDT - 240m WORSE_3 5  -20.417321    0     4       4      21.532423
                       11 -20.417321    0     4       4      21.532423
                       17 -20.417321    0     4       4      21.532423

                           long_won  long_lost  short_won  short_lost  \
BTCUSDT - 240m BEST_5  8          2          0          0           0
                       14         2          0          0           0
                       20         2          0          0           0
                       26         2          0          0           0
                       32         2          0          0           0
BTCUSDT - 240m WORSE_3 5          0          0          0           4
                       11         0          0          0           4
                       17         0          0          0           4

                           longs_pnl  shorts_pnl  leverage_factor  \
BTCUSDT - 240m BEST_5  8    4.351694    0.000000              1.0
                       14   4.351694    0.000000              1.0
                       20   4.351694    0.000000              1.0
                       26   4.351694    0.000000              1.0
                       32   4.351694    0.000000              1.0
BTCUSDT - 240m WORSE_3 5    0.000000  -20.417321              1.0
                       11   0.000000  -20.417321              1.0
                       17   0.000000  -20.417321              1.0

                           aroon_timeperiod  ema
BTCUSDT - 240m BEST_5  8                 70   60
                       14                70   70
                       20                70   80
                       26                70   90
                       32                70  100
BTCUSDT - 240m WORSE_3 5                100   50
                       11               100   60
                       17               100   70

ITERATION n# 2 at 2022-08-14 03:27:06.621866. SYMBOL: BTCUSDT TIMEFRAME: 120m

                             pnl_net  won  lost  trades  moneydown_max  \
BTCUSDT - 120m BEST_5  21   0.419480    2     3       5      12.811925
                       27   0.419480    2     3       5      12.811925
                       3   -1.159290    2     4       6      12.187549
                       9   -1.159290    2     4       6      12.187549
                       15  -1.159290    2     4       6      12.187549
BTCUSDT - 120m WORSE_3 12 -28.807194    1     8       9      30.463020
                       30 -27.582277    1     6       7      29.238103
                       0  -27.392750    1     8       9      30.797277

                           long_won  long_lost  short_won  short_lost  \
BTCUSDT - 120m BEST_5  21         1          2          1           1
                       27         1          2          1           1
                       3          1          3          1           1
                       9          1          3          1           1
                       15         1          3          1           1
BTCUSDT - 120m WORSE_3 12         1          5          0           3
                       30         1          3          0           3
                       0          1          8          0           0

                           longs_pnl  shorts_pnl  leverage_factor  \
BTCUSDT - 120m BEST_5  21   2.022273   -1.602793              1.0
                       27   2.022273   -1.602793              1.0
                       3    0.443503   -1.602793              1.0
                       9    0.443503   -1.602793              1.0
                       15   0.443503   -1.602793              1.0
BTCUSDT - 120m WORSE_3 12 -14.510565  -14.296629              1.0
                       30 -13.285648  -14.296629              1.0
                       0  -27.392750    0.000000              1.0

                           aroon_timeperiod  ema
BTCUSDT - 120m BEST_5  21                80   80
                       27                80   90
                       3                 80   50
                       9                 80   60
                       15                80   70
BTCUSDT - 120m WORSE_3 12                50   70
                       30                50  100
                       0                 50   50

ITERATION n# 3 at 2022-08-14 03:27:51.316879. SYMBOL: BTCUSDT TIMEFRAME: 60m

                            pnl_net  won  lost  trades  moneydown_max  \
BTCUSDT - 60m BEST_5  5   -6.352250    1     4       5      17.741637
                      11  -6.352250    1     4       5      17.741637
                      17  -6.352250    1     4       5      17.741637
                      23  -6.352250    1     4       5      17.741637
                      29  -6.352250    1     4       5      17.741637
BTCUSDT - 60m WORSE_3 0  -30.623202    4    10      14      30.623202
                      1  -25.676071    2     9      11      25.676071
                      7  -25.676071    2     9      11      25.676071

                          long_won  long_lost  short_won  short_lost  \
BTCUSDT - 60m BEST_5  5          1          4          0           0
                      11         1          4          0           0
                      17         1          4          0           0
                      23         1          4          0           0
                      29         1          4          0           0
BTCUSDT - 60m WORSE_3 0          2          3          2           7
                      1          1          1          1           8
                      7          1          1          1           8

                          longs_pnl  shorts_pnl  leverage_factor  \
BTCUSDT - 60m BEST_5  5   -6.352250    0.000000              1.0
                      11  -6.352250    0.000000              1.0
                      17  -6.352250    0.000000              1.0
                      23  -6.352250    0.000000              1.0
                      29  -6.352250    0.000000              1.0
BTCUSDT - 60m WORSE_3 0   -7.546994  -23.076209              1.0
                      1   -0.348596  -25.327474              1.0
                      7   -0.348596  -25.327474              1.0

                          aroon_timeperiod  ema
BTCUSDT - 60m BEST_5  5                100   50
                      11               100   60
                      17               100   70
                      23               100   80
                      29               100   90
BTCUSDT - 60m WORSE_3 0                 50   50
                      1                 60   50
                      7                 60   60

ITERATION n# 4 at 2022-08-14 03:30:37.552552. SYMBOL: BTCUSDT TIMEFRAME: 30m

                            pnl_net  won  lost  trades  moneydown_max  \
BTCUSDT - 30m BEST_5  7  -14.483522    2     8      11      33.095371
                      1  -16.743233    2     9      12      34.994458
                      31 -16.949653    2     8      11      35.431534
                      13 -17.517364    2     9      12      34.136689
                      19 -17.517364    2     9      12      34.136689
BTCUSDT - 30m WORSE_3 24 -45.245301    0    13      13      45.245301
                      30 -45.245301    0    13      13      45.245301
                      12 -37.933268    0    14      14      37.933268

                          long_won  long_lost  short_won  short_lost  \
BTCUSDT - 30m BEST_5  7          2          3          0           5
                      1          2          4          0           5
                      31         2          2          0           6
                      13         2          2          0           7
                      19         2          2          0           7
BTCUSDT - 30m WORSE_3 24         0          4          0           9
                      30         0          4          0           9
                      12         0          8          0           6

                          longs_pnl  shorts_pnl  leverage_factor  \
BTCUSDT - 30m BEST_5  7   -2.435180  -12.048342              1.0
                      1   -5.013260  -11.729973              1.0
                      31  -3.054618  -13.895035              1.0
                      13  -2.172390  -15.344974              1.0
                      19  -2.172390  -15.344974              1.0
BTCUSDT - 30m WORSE_3 24 -21.957842  -23.287459              1.0
                      30 -21.957842  -23.287459              1.0
                      12 -24.262621  -13.670647              1.0

                          aroon_timeperiod  ema
BTCUSDT - 30m BEST_5  7                 60   60
                      1                 60   50
                      31                60  100
                      13                60   70
                      19                60   80
BTCUSDT - 30m WORSE_3 24                50   90
                      30                50  100
                      12                50   70

ITERATION n# 5 at 2022-08-14 03:34:22.510479. SYMBOL: BTCUSDT TIMEFRAME: 15m

                            pnl_net  won  lost  trades  moneydown_max  \
BTCUSDT - 15m BEST_5  5  -21.720811    3    10      13      29.221742
                      11 -21.720811    3    10      13      29.221742
                      32 -26.546913    2    13      16      40.347722
                      16 -29.173131    3    14      17      36.952075
                      20 -29.519779    2    14      17      42.881698
BTCUSDT - 15m WORSE_3 12 -49.612842    1    24      25      49.612842
                      18 -45.027904    2    21      23      48.230052
                      24 -45.027904    2    21      23      48.230052

                          long_won  long_lost  short_won  short_lost  \
BTCUSDT - 15m BEST_5  5          3         10          0           0
                      11         3         10          0           0
                      32         2          4          0           9
                      16         3         14          0           0
                      20         2          5          0           9
BTCUSDT - 15m WORSE_3 12         1         10          0          14
                      18         2          9          0          12
                      24         2          9          0          12

                          longs_pnl  shorts_pnl  leverage_factor  \
BTCUSDT - 15m BEST_5  5  -21.720811    0.000000              1.0
                      11 -21.720811    0.000000              1.0
                      32  -7.726342  -18.820572              1.0
                      16 -29.173131    0.000000              1.0
                      20 -11.460932  -18.058847              1.0
BTCUSDT - 15m WORSE_3 12 -21.081335  -28.531507              1.0
                      18 -19.045277  -25.982627              1.0
                      24 -19.045277  -25.982627              1.0

                          aroon_timeperiod  ema
BTCUSDT - 15m BEST_5  5                100   50
                      11               100   60
                      32                70  100
                      16                90   70
                      20                70   80
BTCUSDT - 15m WORSE_3 12                50   70
                      18                50   80
                      24                50   90

FAILED TEST
FAILED PARSE: BNBUSDT 240m
ITERATION n# 6 at 2022-08-14 03:34:35.685469. SYMBOL: BNBUSDT TIMEFRAME: 240m

Empty DataFrame
Columns: []
Index: []

ITERATION n# 7 at 2022-08-14 03:34:58.779774. SYMBOL: BNBUSDT TIMEFRAME: 120m

                              pnl_net  won  lost  trades  moneydown_max  \
BNBUSDT - 120m BEST_5  13  101.742259    2     3       5      97.705501
                       19  101.742259    2     3       5      97.705501
                       12   82.195163    2     5       7      98.508689
                       18   82.195163    2     5       7      98.508689
                       31   77.988087    1     1       3     110.332617
BNBUSDT - 120m WORSE_3 5   -31.205915    0     6       6      31.785781
                       11  -31.205915    0     6       6      31.785781
                       17  -31.205915    0     6       6      31.785781

                           long_won  long_lost  short_won  short_lost  \
BNBUSDT - 120m BEST_5  13         2          1          0           2
                       19         2          1          0           2
                       12         2          3          0           2
                       18         2          3          0           2
                       31         1          1          0           0
BNBUSDT - 120m WORSE_3 5          0          0          0           6
                       11         0          0          0           6
                       17         0          0          0           6

                            longs_pnl  shorts_pnl  leverage_factor  \
BNBUSDT - 120m BEST_5  13  128.509662  -26.767403              1.0
                       19  128.509662  -26.767403              1.0
                       12  102.767861  -20.572698              1.0
                       18  102.767861  -20.572698              1.0
                       31   77.988087    0.000000              1.0
BNBUSDT - 120m WORSE_3 5     0.000000  -31.205915              1.0
                       11    0.000000  -31.205915              1.0
                       17    0.000000  -31.205915              1.0

                           aroon_timeperiod  ema
BNBUSDT - 120m BEST_5  13                60   70
                       19                60   80
                       12                50   70
                       18                50   80
                       31                60  100
BNBUSDT - 120m WORSE_3 5                100   50
                       11               100   60
                       17               100   70

ITERATION n# 8 at 2022-08-14 03:35:53.060051. SYMBOL: BNBUSDT TIMEFRAME: 60m

                            pnl_net  won  lost  trades  moneydown_max  \
BNBUSDT - 60m BEST_5  28  69.549814    1     4       5      75.907082
                      34  69.549814    1     4       5      75.907082
                      1   50.477635    2     3       6      78.311705
                      7   50.477635    2     3       6      78.311705
                      3   45.971428    2     4       6      32.287075
BNBUSDT - 60m WORSE_3 12 -19.240747    1     9      10      24.057520
                      6  -18.352360    1     9      10      24.322163
                      0  -17.242796    1    10      11      23.212599

                          long_won  long_lost  short_won  short_lost  \
BNBUSDT - 60m BEST_5  28         1          4          0           0
                      34         1          4          0           0
                      1          2          3          0           0
                      7          2          3          0           0
                      3          2          4          0           0
BNBUSDT - 60m WORSE_3 12         1          4          0           5
                      6          1          4          0           5
                      0          1          2          0           8

                          longs_pnl  shorts_pnl  leverage_factor  \
BNBUSDT - 60m BEST_5  28  69.549814    0.000000              1.0
                      34  69.549814    0.000000              1.0
                      1   50.477635    0.000000              1.0
                      7   50.477635    0.000000              1.0
                      3   45.971428    0.000000              1.0
BNBUSDT - 60m WORSE_3 12  -3.681914  -15.558833              1.0
                      6   -2.622373  -15.729987              1.0
                      0    6.542507  -23.785302              1.0

                          aroon_timeperiod  ema
BNBUSDT - 60m BEST_5  28                90   90
                      34                90  100
                      1                 60   50
                      7                 60   60
                      3                 80   50
BNBUSDT - 60m WORSE_3 12                50   70
                      6                 50   60
                      0                 50   50

ITERATION n# 9 at 2022-08-14 03:38:21.458464. SYMBOL: BNBUSDT TIMEFRAME: 30m

                            pnl_net  won  lost  trades  moneydown_max  \
BNBUSDT - 30m BEST_5  4   -2.884963    1     6       8     169.333617
                      10  -2.884963    1     6       8     169.333617
                      16  -4.022746    1     6       8     167.349732
                      22  -4.022746    1     6       8     167.349732
                      21  -4.140355    1     6       8     160.503994
BNBUSDT - 30m WORSE_3 1  -32.131816    0    13      14     166.436821
                      7  -32.131816    0    13      14     166.436821
                      13 -32.131816    0    13      14     166.436821

                          long_won  long_lost  short_won  short_lost  \
BNBUSDT - 30m BEST_5  4          1          6          0           0
                      10         1          6          0           0
                      16         1          6          0           0
                      22         1          6          0           0
                      21         1          6          0           0
BNBUSDT - 30m WORSE_3 1          0          3          0          10
                      7          0          3          0          10
                      13         0          3          0          10

                          longs_pnl  shorts_pnl  leverage_factor  \
BNBUSDT - 30m BEST_5  4   -2.884963    0.000000              1.0
                      10  -2.884963    0.000000              1.0
                      16  -4.022746    0.000000              1.0
                      22  -4.022746    0.000000              1.0
                      21  -4.140355    0.000000              1.0
BNBUSDT - 30m WORSE_3 1   -6.809131  -25.322686              1.0
                      7   -6.809131  -25.322686              1.0
                      13  -6.809131  -25.322686              1.0

                          aroon_timeperiod  ema
BNBUSDT - 30m BEST_5  4                 90   50
                      10                90   60
                      16                90   70
                      22                90   80
                      21                80   80
BNBUSDT - 30m WORSE_3 1                 60   50
                      7                 60   60
                      13                60   70

ITERATION n# 10 at 2022-08-14 03:43:35.170559. SYMBOL: BNBUSDT TIMEFRAME: 15m

                            pnl_net  won  lost  trades  moneydown_max  \
BNBUSDT - 15m BEST_5  4   -8.593471    3    12      15      28.107932
                      10  -8.593471    3    12      15      28.107932
                      34 -14.937516    1    11      13     148.100329
                      3  -15.749706    3    15      18      33.554099
                      9  -15.749706    3    15      18      33.554099
BNBUSDT - 15m WORSE_3 0  -56.121975    0    29      29      56.121975
                      6  -56.114708    0    29      29      56.114708
                      12 -54.864771    0    27      28      56.049443

                          long_won  long_lost  short_won  short_lost  \
BNBUSDT - 15m BEST_5  4          3         12          0           0
                      10         3         12          0           0
                      34         1         11          0           0
                      3          3         14          0           1
                      9          3         14          0           1
BNBUSDT - 15m WORSE_3 0          0         12          0          17
                      6          0         11          0          18
                      12         0         10          0          17

                          longs_pnl  shorts_pnl  leverage_factor  \
BNBUSDT - 15m BEST_5  4   -8.593471    0.000000              1.0
                      10  -8.593471    0.000000              1.0
                      34 -14.937516    0.000000              1.0
                      3  -15.189931   -0.559774              1.0
                      9  -15.189931   -0.559774              1.0
BNBUSDT - 15m WORSE_3 0  -25.825921  -30.296054              1.0
                      6  -23.491317  -32.623391              1.0
                      12 -24.424021  -30.440750              1.0

                          aroon_timeperiod  ema
BNBUSDT - 15m BEST_5  4                 90   50
                      10                90   60
                      34                90  100
                      3                 80   50
                      9                 80   60
BNBUSDT - 15m WORSE_3 0                 50   50
                      6                 50   60
                      12                50   70

ITERATION n# 11 at 2022-08-14 03:43:47.028918. SYMBOL: DOGEUSDT TIMEFRAME: 240m

                              pnl_net  won  lost  trades  moneydown_max  \
DOGEUSDT - 240m BEST_5  12  72.413255    1     2       4     434.025249
                        18  72.413255    1     2       4     434.025249
                        24  72.413255    1     2       4     434.025249
                        30  72.413255    1     2       4     434.025249
                        5  -16.720013    1     2       3      19.623746
DOGEUSDT - 240m WORSE_3 1  -32.401090    0     5       5      32.401090
                        7  -32.401090    0     5       5      32.401090
                        13 -32.401090    0     5       5      32.401090

                            long_won  long_lost  short_won  short_lost  \
DOGEUSDT - 240m BEST_5  12         1          1          0           1
                        18         1          1          0           1
                        24         1          1          0           1
                        30         1          1          0           1
                        5          0          0          1           2
DOGEUSDT - 240m WORSE_3 1          0          1          0           4
                        7          0          1          0           4
                        13         0          1          0           4

                            longs_pnl  shorts_pnl  leverage_factor  \
DOGEUSDT - 240m BEST_5  12  78.470989   -6.057734              1.0
                        18  78.470989   -6.057734              1.0
                        24  78.470989   -6.057734              1.0
                        30  78.470989   -6.057734              1.0
                        5    0.000000  -16.720013              1.0
DOGEUSDT - 240m WORSE_3 1   -7.051988  -25.349102              1.0
                        7   -7.051988  -25.349102              1.0
                        13  -7.051988  -25.349102              1.0

                            aroon_timeperiod  ema
DOGEUSDT - 240m BEST_5  12                50   70
                        18                50   80
                        24                50   90
                        30                50  100
                        5                100   50
DOGEUSDT - 240m WORSE_3 1                 60   50
                        7                 60   60
                        13                60   70

ITERATION n# 12 at 2022-08-14 03:44:15.919812. SYMBOL: DOGEUSDT TIMEFRAME: 120m

                              pnl_net  won  lost  trades  moneydown_max  \
DOGEUSDT - 120m BEST_5  33  94.385067    1     3       4     149.623088
                        3   84.555305    1     3       4     108.832352
                        9   84.555305    1     3       4     108.832352
                        15  81.413791    1     3       4     106.979800
                        4   73.370558    1     3       5     536.967554
DOGEUSDT - 120m WORSE_3 0  -45.476713    1    13      15     156.866464
                        18 -37.834986    1    10      12     178.852129
                        24 -34.616576    1     8      10     188.111668

                            long_won  long_lost  short_won  short_lost  \
DOGEUSDT - 120m BEST_5  33         1          1          0           2
                        3          1          0          0           3
                        9          1          0          0           3
                        15         1          1          0           2
                        4          1          2          0           1
DOGEUSDT - 120m WORSE_3 0          0          1          1          12
                        18         1          3          0           7
                        24         1          3          0           5

                             longs_pnl  shorts_pnl  leverage_factor  \
DOGEUSDT - 120m BEST_5  33  100.789651   -6.404585              1.0
                        3    91.819100   -7.263795              1.0
                        9    91.819100   -7.263795              1.0
                        15   85.345806   -3.932014              1.0
                        4    76.076282   -2.705724              1.0
DOGEUSDT - 120m WORSE_3 0    -3.494405  -41.982308              1.0
                        18   -2.924196  -34.910790              1.0
                        24   -1.432167  -33.184409              1.0

                            aroon_timeperiod  ema
DOGEUSDT - 120m BEST_5  33                80  100
                        3                 80   50
                        9                 80   60
                        15                80   70
                        4                 90   50
DOGEUSDT - 120m WORSE_3 0                 50   50
                        18                50   80
                        24                50   90

ITERATION n# 13 at 2022-08-14 03:45:45.446081. SYMBOL: DOGEUSDT TIMEFRAME: 60m

                             pnl_net  won  lost  trades  moneydown_max  \
DOGEUSDT - 60m BEST_5  22  59.890111    1     7       8      99.808343
                       28  59.890111    1     7       8      99.808343
                       34  59.890111    1     7       8      99.808343
                       3   49.951229    1    10      11     100.961226
                       9   49.951229    1    10      11     100.961226
DOGEUSDT - 60m WORSE_3 7  -53.930571    3    14      17      53.930571
                       25 -53.027956    2    13      15      53.027956
                       1  -52.733189    3    14      17      52.733189

                           long_won  long_lost  short_won  short_lost  \
DOGEUSDT - 60m BEST_5  22         1          7          0           0
                       28         1          7          0           0
                       34         1          7          0           0
                       3          1          5          0           5
                       9          1          5          0           5
DOGEUSDT - 60m WORSE_3 7          1          5          2           9
                       25         1          5          1           8
                       1          1          4          2          10

                           longs_pnl  shorts_pnl  leverage_factor  \
DOGEUSDT - 60m BEST_5  22  59.890111    0.000000              1.0
                       28  59.890111    0.000000              1.0
                       34  59.890111    0.000000              1.0
                       3   81.563183  -31.611954              1.0
                       9   81.563183  -31.611954              1.0
DOGEUSDT - 60m WORSE_3 7   -9.704476  -44.226095              1.0
                       25 -13.131294  -39.896662              1.0
                       1   -6.582527  -46.150662              1.0

                           aroon_timeperiod  ema
DOGEUSDT - 60m BEST_5  22                90   80
                       28                90   90
                       34                90  100
                       3                 80   50
                       9                 80   60
DOGEUSDT - 60m WORSE_3 7                 60   60
                       25                60   90
                       1                 60   50

ITERATION n# 14 at 2022-08-14 03:48:41.323704. SYMBOL: DOGEUSDT TIMEFRAME: 30m

                             pnl_net  won  lost  trades  moneydown_max  \
DOGEUSDT - 30m BEST_5  31  44.703869    2     4       7     316.012955
                       25  37.786511    2     6       9     300.906416
                       13  36.933809    2     7      10     299.044233
                       19  36.933809    2     7      10     299.044233
                       1   33.849076    2     8      11     292.307610
DOGEUSDT - 30m WORSE_3 9  -34.711216    1     9      11     151.591093
                       3  -34.240774    1    10      12     152.683392
                       21 -33.422458    1     9      11     154.583402

                           long_won  long_lost  short_won  short_lost  \
DOGEUSDT - 30m BEST_5  31         2          3          0           1
                       25         2          4          0           2
                       13         2          3          0           4
                       19         2          3          0           4
                       1          2          4          0           4
DOGEUSDT - 30m WORSE_3 9          1          1          0           8
                       3          1          2          0           8
                       21         1          3          0           6

                           longs_pnl  shorts_pnl  leverage_factor  \
DOGEUSDT - 30m BEST_5  31  47.439021   -2.735153              1.0
                       25  42.532095   -4.745584              1.0
                       13  47.979175  -11.045366              1.0
                       19  47.979175  -11.045366              1.0
                       1   44.693856  -10.844780              1.0
DOGEUSDT - 30m WORSE_3 9    2.227726  -36.938942              1.0
                       3    1.890940  -36.131714              1.0
                       21  -0.505887  -32.916572              1.0

                           aroon_timeperiod  ema
DOGEUSDT - 30m BEST_5  31                60  100
                       25                60   90
                       13                60   70
                       19                60   80
                       1                 60   50
DOGEUSDT - 30m WORSE_3 9                 80   60
                       3                 80   50
                       21                80   80

ITERATION n# 15 at 2022-08-14 03:54:15.477871. SYMBOL: DOGEUSDT TIMEFRAME: 15m

                             pnl_net  won  lost  trades  moneydown_max  \
DOGEUSDT - 15m BEST_5  5   14.293423    2    14      17     247.311019
                       11  14.293423    2    14      17     247.311019
                       17  14.293423    2    14      17     247.311019
                       23  14.293423    2    14      17     247.311019
                       29  14.293423    2    14      17     247.311019
DOGEUSDT - 15m WORSE_3 30 -61.676405    1    29      31      82.925572
                       26 -60.179990    0    21      21      60.179990
                       32 -60.179990    0    21      21      60.179990

                           long_won  long_lost  short_won  short_lost  \
DOGEUSDT - 15m BEST_5  5          1          2          1          12
                       11         1          2          1          12
                       17         1          2          1          12
                       23         1          2          1          12
                       29         1          2          1          12
DOGEUSDT - 15m WORSE_3 30         1         11          0          18
                       26         0         12          0           9
                       32         0         12          0           9

                           longs_pnl  shorts_pnl  leverage_factor  \
DOGEUSDT - 15m BEST_5  5   48.765615  -34.472191              1.0
                       11  48.765615  -34.472191              1.0
                       17  48.765615  -34.472191              1.0
                       23  48.765615  -34.472191              1.0
                       29  48.765615  -34.472191              1.0
DOGEUSDT - 15m WORSE_3 30 -28.045601  -33.630803              1.0
                       26 -38.097482  -22.082507              1.0
                       32 -38.097482  -22.082507              1.0

                           aroon_timeperiod  ema
DOGEUSDT - 15m BEST_5  5                100   50
                       11               100   60
                       17               100   70
                       23               100   80
                       29               100   90
DOGEUSDT - 15m WORSE_3 30                50  100
                       26                70   90
                       32                70  100

ITERATION n# 16 at 2022-08-14 03:54:38.680416. SYMBOL: ETHUSDT TIMEFRAME: 240m

                             pnl_net  won  lost  trades  moneydown_max  \
ETHUSDT - 240m BEST_5  21   3.387349    1     0       2      58.299800
                       27   3.387349    1     0       2      58.299800
                       33   3.387349    1     0       2      58.299800
                       3    1.370950    1     1       3      52.524347
                       9    1.370950    1     1       3      52.524347
ETHUSDT - 240m WORSE_3 0  -32.272416    1     6       7      32.272416
                       12 -28.357345    2     3       5      32.911038
                       6  -24.175921    1     4       5      24.175921

                           long_won  long_lost  short_won  short_lost  \
ETHUSDT - 240m BEST_5  21         1          0          0           0
                       27         1          0          0           0
                       33         1          0          0           0
                       3          1          1          0           0
                       9          1          1          0           0
ETHUSDT - 240m WORSE_3 0          0          0          1           6
                       12         2          1          0           2
                       6          1          0          0           4

                           longs_pnl  shorts_pnl  leverage_factor  \
ETHUSDT - 240m BEST_5  21   3.387349    0.000000              1.0
                       27   3.387349    0.000000              1.0
                       33   3.387349    0.000000              1.0
                       3    1.370950    0.000000              1.0
                       9    1.370950    0.000000              1.0
ETHUSDT - 240m WORSE_3 0    0.000000  -32.272416              1.0
                       12 -11.088945  -17.268400              1.0
                       6    1.910140  -26.086061              1.0

                           aroon_timeperiod  ema
ETHUSDT - 240m BEST_5  21                80   80
                       27                80   90
                       33                80  100
                       3                 80   50
                       9                 80   60
ETHUSDT - 240m WORSE_3 0                 50   50
                       12                50   70
                       6                 50   60

ITERATION n# 17 at 2022-08-14 03:55:17.626905. SYMBOL: ETHUSDT TIMEFRAME: 120m

                             pnl_net  won  lost  trades  moneydown_max  \
ETHUSDT - 120m BEST_5  31 -10.399788    2     5       7      14.498790
                       13 -18.058533    2     6       8      19.898712
                       19 -18.058533    2     6       8      19.898712
                       25 -18.058533    2     6       8      19.898712
                       33 -18.679479    2     4       6      19.089525
ETHUSDT - 120m WORSE_3 0  -47.277646    0    13      13      49.117825
                       6  -47.277646    0    13      13      49.117825
                       12 -45.114917    0    12      12      46.955096

                           long_won  long_lost  short_won  short_lost  \
ETHUSDT - 120m BEST_5  31         2          5          0           0
                       13         2          4          0           2
                       19         2          4          0           2
                       25         2          4          0           2
                       33         2          1          0           3
ETHUSDT - 120m WORSE_3 0          0          1          0          12
                       6          0          1          0          12
                       12         0          2          0          10

                           longs_pnl  shorts_pnl  leverage_factor  \
ETHUSDT - 120m BEST_5  31 -10.399788    0.000000              1.0
                       13  -6.282543  -11.775989              1.0
                       19  -6.282543  -11.775989              1.0
                       25  -6.282543  -11.775989              1.0
                       33   1.507168  -20.186647              1.0
ETHUSDT - 120m WORSE_3 0   -2.398972  -44.878674              1.0
                       6   -2.398972  -44.878674              1.0
                       12  -4.690809  -40.424108              1.0

                           aroon_timeperiod  ema
ETHUSDT - 120m BEST_5  31                60  100
                       13                60   70
                       19                60   80
                       25                60   90
                       33                80  100
ETHUSDT - 120m WORSE_3 0                 50   50
                       6                 50   60
                       12                50   70

ITERATION n# 18 at 2022-08-14 03:56:36.561237. SYMBOL: ETHUSDT TIMEFRAME: 60m

                            pnl_net  won  lost  trades  moneydown_max  \
ETHUSDT - 60m BEST_5  24 -14.046850    2     6       8      18.404269
                      30 -14.046850    2     6       8      18.404269
                      18 -16.560966    1     8       9      20.918386
                      12 -19.267776    1     9      10      23.625195
                      6  -21.667904    1    10      11      26.025323
ETHUSDT - 60m WORSE_3 4  -35.783262    0     8       8      37.970632
                      10 -35.783262    0     8       8      37.970632
                      16 -35.783262    0     8       8      37.970632

                          long_won  long_lost  short_won  short_lost  \
ETHUSDT - 60m BEST_5  24         2          3          0           3
                      30         2          3          0           3
                      18         1          5          0           3
                      12         1          6          0           3
                      6          1          7          0           3
ETHUSDT - 60m WORSE_3 4          0          3          0           5
                      10         0          3          0           5
                      16         0          3          0           5

                          longs_pnl  shorts_pnl  leverage_factor  \
ETHUSDT - 60m BEST_5  24  -2.299190  -11.747660              1.0
                      30  -2.299190  -11.747660              1.0
                      18  -5.156923  -11.404043              1.0
                      12  -8.233687  -11.034089              1.0
                      6  -10.961852  -10.706051              1.0
ETHUSDT - 60m WORSE_3 4  -10.038547  -25.744715              1.0
                      10 -10.038547  -25.744715              1.0
                      16 -10.038547  -25.744715              1.0

                          aroon_timeperiod  ema
ETHUSDT - 60m BEST_5  24                50   90
                      30                50  100
                      18                50   80
                      12                50   70
                      6                 50   60
ETHUSDT - 60m WORSE_3 4                 90   50
                      10                90   60
                      16                90   70

ITERATION n# 19 at 2022-08-14 03:58:57.351365. SYMBOL: ETHUSDT TIMEFRAME: 30m

                            pnl_net  won  lost  trades  moneydown_max  \
ETHUSDT - 30m BEST_5  13  -6.586739    2     7       9      27.761511
                      3   -9.480180    1     6       7      14.915278
                      7   -9.688763    2     8      10      30.693622
                      29  -9.753803    1     5       6      15.312972
                      35  -9.753803    1     5       6      15.312972
ETHUSDT - 30m WORSE_3 30 -25.878382    1    11      12      31.915905
                      18 -25.198178    1    11      12      31.248639
                      24 -25.198178    1    11      12      31.248639

                          long_won  long_lost  short_won  short_lost  \
ETHUSDT - 30m BEST_5  13         2          6          0           1
                      3          1          6          0           0
                      7          2          7          0           1
                      29         1          5          0           0
                      35         1          5          0           0
ETHUSDT - 30m WORSE_3 30         1          9          0           2
                      18         1          8          0           3
                      24         1          8          0           3

                          longs_pnl  shorts_pnl  leverage_factor  \
ETHUSDT - 30m BEST_5  13  -3.749829   -2.836910              1.0
                      3   -9.480180    0.000000              1.0
                      7   -6.946060   -2.742703              1.0
                      29  -9.753803    0.000000              1.0
                      35  -9.753803    0.000000              1.0
ETHUSDT - 30m WORSE_3 30 -20.770788   -5.107595              1.0
                      18 -18.586707   -6.611471              1.0
                      24 -18.586707   -6.611471              1.0

                          aroon_timeperiod  ema
ETHUSDT - 30m BEST_5  13                60   70
                      3                 80   50
                      7                 60   60
                      29               100   90
                      35               100  100
ETHUSDT - 30m WORSE_3 30                50  100
                      18                50   80
                      24                50   90

ITERATION n# 20 at 2022-08-14 04:03:38.162884. SYMBOL: ETHUSDT TIMEFRAME: 15m

                            pnl_net  won  lost  trades  moneydown_max  \
ETHUSDT - 15m BEST_5  22 -11.584462    2    11      13      33.885085
                      28 -13.475500    2    10      12      35.709695
                      34 -13.475500    2    10      12      35.709695
                      16 -14.140336    2    12      14      34.307779
                      10 -19.194607    3    12      15      34.219173
ETHUSDT - 15m WORSE_3 12 -41.880602    2    20      22      49.258813
                      0  -39.769866    4    20      24      47.172057
                      24 -38.055397    2    18      20      48.866363

                          long_won  long_lost  short_won  short_lost  \
ETHUSDT - 15m BEST_5  22         2          6          0           5
                      28         2          5          0           5
                      34         2          5          0           5
                      16         2         12          0           0
                      10         3         12          0           0
ETHUSDT - 15m WORSE_3 12         2         16          0           4
                      0          3         18          1           2
                      24         2         15          0           3

                          longs_pnl  shorts_pnl  leverage_factor  \
ETHUSDT - 15m BEST_5  22   3.090739  -14.675201              1.0
                      28   0.885826  -14.361327              1.0
                      34   0.885826  -14.361327              1.0
                      16 -14.140336    0.000000              1.0
                      10 -19.194607    0.000000              1.0
ETHUSDT - 15m WORSE_3 12 -29.581986  -12.298616              1.0
                      0  -32.458521   -7.311346              1.0
                      24 -28.228104   -9.827292              1.0

                          aroon_timeperiod  ema
ETHUSDT - 15m BEST_5  22                90   80
                      28                90   90
                      34                90  100
                      16                90   70
                      10                90   60
ETHUSDT - 15m WORSE_3 12                50   70
                      0                 50   50
                      24                50   90

In [9]:
symbols_df.nlargest(5, columns='pnl_net')

                              pnl_net  won  lost  trades  moneydown_max  \
BNBUSDT - 120m BEST_5  13  101.742259    2     3       5      97.705501
                       19  101.742259    2     3       5      97.705501
DOGEUSDT - 120m BEST_5 33   94.385067    1     3       4     149.623088
                       3    84.555305    1     3       4     108.832352
                       9    84.555305    1     3       4     108.832352

                           long_won  long_lost  short_won  short_lost  \
BNBUSDT - 120m BEST_5  13         2          1          0           2
                       19         2          1          0           2
DOGEUSDT - 120m BEST_5 33         1          1          0           2
                       3          1          0          0           3
                       9          1          0          0           3

                            longs_pnl  shorts_pnl  leverage_factor  \
BNBUSDT - 120m BEST_5  13  128.509662  -26.767403              1.0
                       19  128.509662  -26.767403              1.0
DOGEUSDT - 120m BEST_5 33  100.789651   -6.404585              1.0
                       3    91.819100   -7.263795              1.0
                       9    91.819100   -7.263795              1.0

                           aroon_timeperiod  ema
BNBUSDT - 120m BEST_5  13                60   70
                       19                60   80
DOGEUSDT - 120m BEST_5 33                80  100
                       3                 80   50
                       9                 80   60